# Github
.github/

# VSCode
.vscode/

# Ansible inventory variables
/inventory/group_vars/all.yml
!/inventory/group_vars/all.yml.example
/inventory/hosts.yml
!/inventory/hosts.yml.example

# Vault and secrets
/vars/secrets.yml
!/vars/secrets.yml.example


# Logs and temp
logs/
*.log
!/logs/*.md
temp/
