# {{ ansible_managed }}
# Fail2Ban configuration file
#
# Author: Lucian Curteanu 
# Visit : https://luciancurteanu.com
#

[Definition]

goodurl = banner\.php
badurl = wp|\.env|\.sh|\.php.*HTTP|XDEBUG|system|vendor|cgi|console|ignition|download|icap|SiteLoader|mPlayer
#failregex  = (?i)^<HOST>.*".*?(?:%(badurl)s).*?"
#failregex = (?i)^<HOST> -.*"(GET|POST|HEAD)\s\/.*(.php|wp-).*"$
#failregex = ^<HOST>.*".*(x[0-9]).*?"$
#failregex  = (?i)^<HOST>.*".*?(?:%(badurl)s).*"$

failregex  = (?i)^<HOST>.*".*?(?:%(badurl)s|\\x(?:[0-9A-Fa-f]{2})+).*"$

ignoreregex = (?i)^<HOST>.*".*?(?:%(goodurl)s).*"$

datepattern = ^[^\[]*\[({DATE})
              {^LN-BEG}