user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections {{ nginx_worker_connections | default('4000') }};
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request"'
                      '$status $body_bytes_sent "$http_referer"'
                      '"$http_user_agent" "$http_x_forwarded_for"';
    access_log  /var/log/nginx/access.log  main;
    # copies data between one FD and other from within the kernel
    # faster than read() + write()
    sendfile            on;
	# send headers in one piece, it is better than sending them one by one
    tcp_nopush          on;
	# don't buffer data sent, good for small data bursts in real time
    tcp_nodelay         on;
	# allow the server to close connection on non responding client, this will free up memory
    reset_timedout_connection on;
	# request timed out -- default 60
    client_body_timeout {{ nginx_client_body_timeout | default('10s') }};
	# if client stop responding, free up memory -- default 60
    send_timeout {{ nginx_send_timeout | default('2s') }};
	# server will close connection after this time -- default 75
    keepalive_timeout {{ nginx_keepalive_timeout | default('30s') }};
	# number of requests client can make over keep-alive -- for testing environment
    keepalive_requests {{ nginx_keepalive_requests | default('10000') }};
	# if the request body size is more than the buffer size, then the entire (or partial)
	# request body is written into a temporary file
	client_body_buffer_size  {{ nginx_client_body_buffer_size | default('128k') }};
	# buffer size for reading client request header -- for testing environment
	client_header_buffer_size {{ nginx_client_header_buffer_size | default('32k') }};
	# maximum number and size of buffers for large headers to read from client request
	large_client_header_buffers {{ nginx_large_client_header_buffers | default('8 64k') }};
	# how long to wait for the client to send a request header -- for testing environment
	client_header_timeout {{ nginx_client_header_timeout | default('3m') }};
    types_hash_max_size {{ nginx_types_hash_max_size | default('2048') }};
    client_max_body_size {{ nginx_client_max_body_size | default('500M') }};
	server_tokens off;

    # SSL session caching
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;

    # Gzip compression
    gzip {{ nginx_gzip | default('on') }};
    gzip_vary on;
    gzip_comp_level {{ nginx_gzip_comp_level | default('6') }};
    gzip_min_length 1024;
    gzip_buffers {{ nginx_gzip_buffers | default('16 8k') }};
    gzip_proxied expired no-cache no-store private auth;
    gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml application/json;
    gzip_disable "MSIE [1-6]\.";

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;
    # Load configuration files for the default server block.
    include /etc/nginx/conf.d/*.conf;
    # Load site-specific configurations
    include /etc/nginx/sites-enabled/*.conf;
    server_names_hash_bucket_size 64;
}