# {{ ansible_managed }}
# Fail2Ban configuration file
#
# Author: Lucian Curteanu 
# Visit : https://luciancurteanu.com
#

[INCLUDES]

before = sendmail-common.conf
         mail-whois-common.conf
         helpers-common.conf

[Definition]

# bypass ban/unban for restored tickets
norestored = 1

# Option:  actionban
# Notes.:  command executed when banning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    See jail.conf(5) man page
# Values:  CMD
actionban = ( printf %%b "Subject:<name> banned <ip> 
            Date: `LC_ALL=C date +"%%a, %%d %%h %%Y %%T %%z"`
            From: <sendername> <<sender>>
            To: <dest>\n
            Hi,\n
            <name> banned <ip> after <failures> attempts.\n"
            curl https://<fq-hostname>/ip/info/<ip>/json/<name>/autosave
	        printf %%b "\n\nLines containing failures of <ip> (max <grepmax>)\n";
            %(_grep_logs)s;
            printf %%b "
            `%(_whois_command)s`\n
            Regards,\n
            Fail2Ban" ) | <mailcmd>

actionstart = 
actionstop = 
actioncheck = 
actionunban =

[Init]

# Default name of the chain
#
name = default

# Path to the log files which contain relevant lines for the abuser IP
#
logpath = /dev/null

# Number of log lines to include in the email
#
grepmax = 3
grepopts = -m <grepmax>