---
driver:
  name: Docker
platforms:
  - name: Almalinux9
    image: trfore/docker-centos9-systemd:latest
    privileged: true
    pre_build_image: true # Usually good to ensure the image is pulled/updated
    command: /usr/sbin/init # Add this line to start systemd
    cgroupns_mode: host # Often needed for systemd in Docker
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw # Mount cgroups
    tmpfs: # systemd requires /run and /tmp to be tmpfs
      - /run
      - /tmp
provisioner:
  name: Ansible
  env:
    ANSIBLE_LOG_PATH: ansible_molecule_output.log
    PY_COLORS: '1'
    ANSIBLE_FORCE_COLOR: '1'
  config_options:
    defaults:
      result_format: yaml
      vars_files:
        - ../../../../vars/secrets.yml # Load secrets explicitly
  options:
    extra-vars: "domain=vps.test master_domain=vps.test"
  playbooks:
    converge: converge.yml
  inventory:
    links:
      group_vars: ../../../../inventory/group_vars # Points to the directory for group variables like all.yml
verifier:
  name: Ansible
