---
- name: Verify PHP-FPM installation
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Gather package facts
      ansible.builtin.package_facts:

    - name: Ensure PHP-FPM binary is present
      ansible.builtin.command: php-fpm -v
      register: php_fpm_check
      changed_when: false
      failed_when: php_fpm_check.rc != 0

    - name: Gather list of PHP loaded modules
      ansible.builtin.command: php -m
      register: php_modules
      changed_when: false

    - name: Assert PHP extensions are loaded
      ansible.builtin.assert:
        that:
          - "'mysqlnd' in php_modules.stdout_lines"
          - "'zip' in php_modules.stdout_lines"
          - "'gd' in php_modules.stdout_lines"
          - "'curl' in php_modules.stdout_lines"
          - "'bcmath' in php_modules.stdout_lines"
          - "'gmp' in php_modules.stdout_lines"
          - "'json' in php_modules.stdout_lines"
          - "'apcu' in php_modules.stdout_lines"
        fail_msg: "One or more PHP extensions failed to load"

    - name: Check PHP-FPM socket exists
      ansible.builtin.stat:
        path: "/run/php-fpm/www.sock"
      register: sock_stat

    - name: Fail if PHP-FPM socket not found
      ansible.builtin.assert:
        that:
          - sock_stat.stat.exists
        fail_msg: "PHP-FPM socket not found"

    - name: Check that PEAR CLI is installed
      ansible.builtin.command:
        cmd: which pear
      register: pear_cli
      changed_when: false
      failed_when: pear_cli.rc != 0
      tags: verify
