---
- name: Prepare container for Ansible
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Ensure Python 3 and pip are installed
      ansible.builtin.dnf:
        name:
          - python3
          - python3-pip
        state: present
        update_cache: yes

    - name: Install Ansible via pip
      ansible.builtin.pip:
        name: ansible
        executable: pip3
        state: present
