---
# Common role: Main tasks

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family | lower }}.yml"
  when: ansible_os_family == 'RedHat'

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ common_hostname }}"
  when: common_hostname is defined
  tags:
    - molecule-notest

- name: Configure timezone
  ansible.builtin.timezone:
    name: "{{ common_timezone }}"

- name: Configure local RTC
  ansible.builtin.command: timedatectl set-local-rtc {{ 'yes' if common_use_local_rtc else 'no' }}
  changed_when: false
  when: ansible_service_mgr == 'systemd'

- name: Install EPEL repository first
  ansible.builtin.package:
    name: epel-release
    state: present
  when: ansible_os_family == 'RedHat'

- name: Install common packages
  block:
    - name: Install common packages (RedHat)
      ansible.builtin.dnf:
        name: "{{ packages }}"
        state: present
        update_cache: yes
        nobest: yes
        skip_broken: yes
        allow_downgrade: yes
      when: ansible_os_family == 'RedHat'

    - name: Install common packages (other OS)
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop: "{{ packages }}"
      when: ansible_os_family != 'RedHat'
      register: package_install
  rescue:
    - name: Warn package install failed
      ansible.builtin.debug:
        msg: "One or more package installations failed, but continuing"
  tags:
    - packages

- name: Install optional packages (ignore failures)
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ optional_packages | default([]) }}"
  failed_when: false  # TODO: Add proper failure condition
  when: ansible_os_family == 'RedHat'
  tags:
    - packages
    - optional

- name: Check if swap exists
  ansible.builtin.command: swapon --show
  register: swap_check
  changed_when: false
  failed_when: false

- name: Create swap file if not exists
  block:
    - name: Allocate swap file
      ansible.builtin.command: dd if=/dev/zero of=/swapfile bs=1M count={{ swap_size_mb | default(2048) }}
      args:
        creates: /swapfile

    - name: Set swap file permissions
      ansible.builtin.file:
        path: /swapfile
        mode: '0600'
        owner: root
        group: root

    - name: Format swap file
      ansible.builtin.command: mkswap /swapfile
      when: swap_check.stdout == ""

    - name: Enable swap file
      ansible.builtin.command: swapon /swapfile
      when: swap_check.stdout == ""

    - name: Add swap to fstab
      ansible.builtin.lineinfile:
        path: /etc/fstab
        line: '/swapfile none swap sw 0 0'
        state: present
        create: false
  when: swap_check.stdout == "" and common_enable_swap | default(true)
  tags:
    - swap

- name: Include SSH hardening tasks
  ansible.builtin.include_tasks: ssh.yml

- name: Include user management tasks
  ansible.builtin.include_tasks: users.yml
  when: common_create_admin_user | bool
