# {{ ansible_managed }}
# Sudo permissions for admin user

{% if common_admin_sudo_nopasswd | default(true) | bool %}
{{ common_admin_user }} ALL=(ALL) NOPASSWD: ALL
{% else %}
{{ common_admin_user }} ALL=(ALL) ALL
{% endif %}