# {{ ansible_managed }}
# SQL authentication configuration for Dovecot

driver = mysql
{% set _db_pass = vault_mail_db_password | default(mail_db_password | default('')) %}
{% set _vmail_uid = vmail_uid | default(5000) %}
{% set _vmail_gid = vmail_gid | default(5000) %}
# Default to localhost and port 3307 unless overridden. Use TCP connect which avoids
# potential unsupported 'socket' tokens in some Dovecot builds.
connect = host=127.0.0.1 port={{ db_port | default(3307) }} dbname={{ mail_db_name }} user={{ mail_db_user }}{% if _db_pass %} password={{ _db_pass }}{% endif %}
default_pass_scheme = SHA512-CRYPT

# User query
user_query = SELECT CONCAT('/var/vmail/', SUBSTRING_INDEX(email,'@',-1), '/', SUBSTRING_INDEX(email,'@',1)) AS home, {{ _vmail_uid }} AS uid, {{ _vmail_gid }} AS gid FROM users WHERE email='%u'

# Password query - returns full email as username
password_query = SELECT email as username, password FROM users WHERE email='%u'

# Iterate query for listing users
iterate_query = SELECT email as username FROM users